body {
    background-image: url("img/houndstooth-pattern/houndstooth-pattern.png");
    color: #333;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
}

.sectionHeader,
.diaryHeader {
    color: #1460aa;
}

.header {
    color: yellow;
}

.heading {
    color: #00487c;
}

.thirdHeader {
    color: #0496ff;
}

.link {
    color: #1a936f;
    text-decoration: none;
}