body,
.onTop,
.navigation {
    background-image: url("img/houndstooth-pattern/houndstooth-pattern.png");
    color: #333;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto;
    padding-top: 50px;
}

.about {
    position: relative;
}

.about__header,
.diary__header {
    color: #1460aa;
}

.onTop__link,
.about__link,
.day__link,
.navigation__link {
    color: #1a936f;
    text-decoration: none;
}

.about__paragraph,
.article__paragraph {
    padding: 16px;
}

.about__picture,
.article__picture {
    width: 100%;
    max-width: 200px;
    display: block;
    float: left;
    margin: 0 16px 16px 0;
}

.header {
    color: yellow;
}

.header__title {
    color: #00487c;
}

.day {
    padding: 16px;
}

.day__header {
    color: #0496ff;
    margin: 0 0 16px;
    font-size: 20px;
}

.day__header-sunday {
    color: darkred;
}

.day__paragraph,
.article__paragraph {
    line-height: 24px;
    padding: 0;
    margin: 0;
}

.onTop,
.navigation {
    position: fixed;
}

.navigation {
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    z-index: 3;
}

.onTop {
    bottom: 10px;
    right: 10px;
}

.clear {
    clear: both;
}

/* test 
.box,
.box2 {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: 50%;
}

.box {
    z-index: 2;
    position: fixed;
}

.box2 {
    background: blueviolet;
    top: 30px;
    right: 60%;
}
*/